<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
    | <%= link_to "remove", user, :method => :delete,
                  :confirm => "Do you really want to delete " + user.name + " (" + user.email + ")?",
                  :title => "Delete #{user.name}" %>
  <% end %>
</li>
